    <address class="footer-wrap">
        <div class="information">
            <div class="myname">
                <h3>공재규&nbsp;&nbsp;&nbsp;&nbsp;Jaekyu Kong</h3>
            </div>
            <a href="mailto:janzzleworld@gmail.com" class="email">
                janzzleworld@gmail.com
            </a>
        
            <div class="accounts">
                <a href="http://github.com/janzzle" target="_blank" class="transition">
                    Github
                </a>
                <a href="http://www.linkedin.com/in/cesckyu/" target="_blank" class="transition">
                    Linkedin
                </a>
                <a href="http://instagram.com/cesckyu" target="_blank" class="transition">
                 Instagram
                </a>
                
            </div>
        </div>
        <div class="copyright">
            <span>
                &copy; {{ site.author.name }}. <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
            </span>
        </div>    
    </address>