---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">{{ page.date | date_to_string }}</span>

  <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <!-- <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}"> -->
        <a href="{{ root_url }}{{ post.url }}/tags#{{ tag }}"> 
          {{ tag }}

        </a>
      </li>
      {% endfor %}
    </ul>
  
</div>
<div class="post-content-wrap">
    {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

{% endif %}